<div class="simulateur">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Dispofi</span>
    </mat-toolbar>
    <h1 style="text-align: center">Simulateur de crédit</h1>
    <form [formGroup]="simulationForm">
        <div class="container">
            <div class="items">
                <mat-card>
                    <mat-card-content>
                        <h3>Montant du prêt</h3>
                        <mat-form-field>
                            <mat-label>Montant du prêt</mat-label>
                            <input formControlName="montant" matInput type="number">
                            <span matSuffix>€</span>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <h3>Durée du prêt ({{duree?.value}} ans)</h3>
                        <mat-slider formControlName="duree" min="2" max="30" step="1" value="20" thumbLabel></mat-slider>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <h3>Taux interêt</h3>
                        <mat-form-field>
                            <mat-label>Taux interêt</mat-label>
                            <input formControlName="interet" matInput appTwoDigitDecimaNumber matInput>
                            <span matSuffix>%</span>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <h3>Taux assurance</h3>
                        <mat-form-field>
                            <mat-label>Taux assurance</mat-label>
                            <input formControlName="assurance" matInput appTwoDigitDecimaNumber>
                            <span matSuffix>%</span>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="items">
                <mat-card>
                    <button mat-raised-button color="primary" [disabled]="!simulationForm.valid" (click)="calculMensualite()" type="submit"> Calcul mensualité</button>
                    <mat-card-content>
                        <h2>Résultats simulation</h2>
                        <h3>Votre mensualité sera de {{mensualiteGlobale | currency:'EUR'}} (dont {{mensualiteAssurance | currency:'EUR'}} en assurances) </h3>
                        <h3>Le coût total du crédit sera de {{coutCredit |currency:'EUR'}} </h3>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </form>       
</div>



